* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #00adb5;
}

.navbar {
  background-color: #222831;
}

.glyphicon {
  color: #9d9d9d;
}

.mt {
  margin-top: 5px;
}

.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #fff;
}

h1,
h2,
h3 {
  font-weight: bold;
}

#whooops {
  text-align: center;
  color: red;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #222831;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.category-footer {
  position: relative;
  bottom: 0;
  background-color: black;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 80px;
} 

.carousel .item {
  height: 450px;
}

.item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 450px;
}

.cat {
  margin-inline: 5px;
}

.dredi {
  background-position: bottom;
}

.dusty {
  color: #06ffff;
  font-weight: 700;
}

#bgo {
  background-color: black;
  opacity: 0.7;
  font-weight: 800;
}

.opac {
  opacity: 0.8;
}

.prof {
  color: pink;
}

.ian {
  margin-top: 25px;
}

.btn {
  background-color: rgb(20, 20, 20, 0.5);
  color: white;
  background-color: #393e46;
}

.pit {
  margin-bottom: 30px;
}

.pitch-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  background-color: #e6dada;
  margin-bottom: 30px;
}

.pitch-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 10px;
  font-size: larger;
}

.mgl {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .item img {
    margin-bottom: 55px;
  }
  footer {
    margin-top: 30px;
    bottom: 0;
  }
  .j {
    margin-bottom: 25px;
  }
}
