{% extends 'base.html' %} {% import 'macros.html' as macro%} 

<!-- Content block -->
{% block content %}
<div class="container">
  <h3 class="pit text-center">{{pitch.category}} Pitches</h3>
  <div class="row">{{macro.displayPitchList(pitch)}}</div>
</div>

<!-- Footer -->
<footer class="category-footer page-footer font-small">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: #9d9d9d;">
    © 2021 Copyright:
    <a
      href="mailto:ianjkiplagat@gmail.com"
      style="color: white"
      target="_blank"
    >
      Ian Kiplagat</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
 {% endblock %}
