{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {%block
styles%} {{ super() }} {%endblock%}
{% block content %}
<div class="container content-section">
  <form method="POST" action="">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    {{ form.csrf_token }}
    {{ form.hidden_tag( )}}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">New Pitch</legend>
      <div class="form-group">
        {{ form.title.label(class="form-control-label") }} {% if
        form.title.errors %} {{ form.title(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.title(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group">
        {{ form.content.label(class="form-control-label") }} {% if
        form.content.errors %} {{ form.content(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.content.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.content(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group">
        {{ form.category.label(class="form-control-label") }} {% if
        form.content.errors %} {{ form.category(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.category.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.category(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="form-group">
        {{ form.submit(class="btn btn-default") }}
      </div>
    </fieldset>
  </form>
</div>
{% block footer %}
{% include 'footer.html' %}
{% endblock%}
{% endblock content %}



