{% extends 'base.html'%}

<!-- Content block -->
{% block content %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Pitchology</h3>   
      <p class='text-muted'>Sample Pitches.</p>
      <div class="pitch-card card">
        <div class="card-title">
            <h5 class="card-header card-title"><strong>Interview Pitch</strong></h5>
        </div>
        <div class="card-body">
          <p class="card-text" style="color: black">Far and away the best prize that life offers
            is the chance to work hard at work worth doing.</p>
          <p class="card-text" style="text-decoration:underline;">Theodore Roosevelt</p>
        </div>
      </div>
      <div class="pitch-card card">
        <div class="card-title">
            <h5 class="card-header card-title"><strong>Product Pitch</strong></h5>
        </div>
        <div class="card-body">
          <p class="card-text" style="color: black">I’m Greg and I work for ACME Corporation. 
            We design, build, and distribute elaborate and 
            dangerous devices to coyotes who want to eat roadrunners.</p>
          <p class="card-text" style="text-decoration:underline;">Greg Stevens</p>
        </div>
      </div>
      <div class="pitch-card card">
        <div class="card-title">
            <h5 class="card-header card-title"><strong>Promotion Pitch</strong></h5>
        </div>
        <div class="card-body">
          <p class="card-text" style="color: black">Hey there! 👋 
            Want to book 2x as many meetings and close 3x as many deals? 
          Hmu!</p>
          <p class="card-text" style="text-decoration:underline;">Greg Simmons</p>
        </div>
      </div>
      <div class="pitch-card card">
        <div class="card-title">
            <h5 class="card-header card-title"><strong>Pick Up Lines</strong></h5>
        </div>
        <div class="card-body">
          <p class="card-text" style="color: black">Hey, my name's Microsoft. 
            Can I crash at your place tonight?</p>
          <p class="card-text" style="text-decoration:underline;">Microsoft</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="categories-section">
        <h3>Categories</h3>
        <p class='text-muted'>Check out the various pitches categories.</p>
          <ul class="list-group">
            <a class="cat text-muted" href="/pitches/Interview"><li class="list-group-item list-group-item-light">Interview Pitches</li></a>
            <a class="cat text-muted" href="/pitches/Product"><li class="list-group-item list-group-item-light">Product Pitches</li></a>
            <a class="cat text-muted" href="/pitches/Promotion"><li class="list-group-item list-group-item-light">Promotion Pitches</li></a>
            <a class="text-muted" href="/pitches/Pickup"><li class="list-group-item list-group-item-light">Pick Up Lines</li></a>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>

<!-- Footer -->
<footer class="category-footer page-footer font-small">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: #9d9d9d;">
    © 2021 Copyright:
    <a
      href="mailto:ianjkiplagat@gmail.com"
      style="color: white"
      target="_blank"
    >
      Ian Kiplagat</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer --> 

{% endblock%}
