{% extends 'base.html'%}

<!-- Content block -->
{% block content %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Pitchology</h3>   
      <p class='text-muted'>Sample Pitches.</p>
    </div>
    <div class="col-md-4">
      <div class="categories-section">
        <h3>Categories</h3>
        <p class='text-muted'>Check out the various pitches categories.</p>
          <ul class="list-group">
            <a class="cat text-muted" href="./interview"><li class="list-group-item list-group-item-light">Interview Pitches</li></a>
            <a class="cat text-muted" href="./product"><li class="list-group-item list-group-item-light">Product Pitches</li></a>
            <a class="cat text-muted" href="./promotion"><li class="list-group-item list-group-item-light">Promotion Pitches</li></a>
            <a class="text-muted" href="./pick-up-lines"><li class="list-group-item list-group-item-light">Pick Up Lines</li></a>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>

{% block footer %} {% include 'footer.html' %} {% endblock%} 

{% endblock%}
